[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/pybind11_opencv_numpy"]
	path = thirdparty/pybind11_opencv_numpy
	url = https://github.com/virtuald/pybind11_opencv_numpy.git
